body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 48px;
    padding: 0 48px;
}

/* overall */

.container {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header {
    display: flex;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
}

.info {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
    max-width: 450px;
}

.boat {
    display: flex;
    height: auto;
    max-width: 500px;
    padding: 24px;
}

.signup {
    background-color: #3882F6;
    padding: 6px 24px;
    border-radius: 8px;
    color: white;
    font-style: 'Roboto' sans-serif;
    border-style: none;
    align-self: flex-start;
}

.main {
    display: flex;
}

/* end of the first main section */

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 24px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.verse, 
.text {
    height: 200px;
    width: 200px;
}

.box {
    display: flex;
    flex-direction: column;
}

